.container {
    width: 100vw;
    background: #AA77FF;
    margin: 10px auto;
    font-size: 10px;
}

.superior {
    background: #645CBB;
/*     overflow: hidden; */
    position: fixed;
    width: 100vw;
    z-index: 3;
    height: 100px;
    display: flex;
    justify-content: space-between;

}

.checkbtn {
    font-size: 25px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 70px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.logo{
    width: max-content;
}

.logo img {
    float: left;
    width: 90px;
    height: 90px;    
    color: #fff;
    display: inline-flex;
    margin-left: 100px;
    margin-top: 5px;
    transition: .5s ease;
    line-height: 0px;
    border-radius: 50%;
    
}

.logo img:hover{
    background:#A084DC ;
    color: #1f242d;
    box-shadow: 0 0 40px #A084DC;
}


/* Estilos para el menu */
.menu {
    float: right;
    padding: 25px;
    /* margin-right: 50px; */

}

.opciones li {
    float: left;
    list-style: none;
    line-height: 10px;
}
nav ul li:hover>.opciones-desplegable{
    display: flex;
}
.opciones-desplegable {
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color:#BFACE2 ;
    transition: all .5s ease-in;

}  
.opciones-desplegable li{
    padding: 15px;
}

.opciones li a {
    color: white;
    text-decoration: none;
    padding: 12px;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: all .6s ease-in-out;
}

.opciones li a:hover,
.opciones li a.active {
    background-color: #BFACE2;
    color: #A084DC;
    
}



footer {
    background-color: #A084DC;
    color: white; 
}

.footer_width p a{
    color: white;
    margin-right: 130px;
}

iframe{
    border-radius: 10%;
    transition: .3s all ease;
    
}

iframe:hover{
    box-shadow: 0 0 20px #A084DC;
    scale:1.2;
    
}

.footer_info {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    padding: 50px 0px;
}

.footer_info .footer_width {
    padding: 0 15px;
}

.footer_info h3 {
    margin-bottom: 20px;
    font-size: 14px; 
}




.contact{
    margin-left: 100px;
    margin-top: -1.4rem;
}

.contact {
    width: auto;
    
}

.abouth p {
    font-size: 12px;
    max-width: 350px;
}

.link {
    width: 20%;
    text-align: left;
    margin-left: 190px;
}

.social-media {
    margin-top: 30px;
}


.social-media a{
   display: inline-flex;
   width: 30px;
   height: 30px;
   background: transparent;
   border: 2px solid #dbd5e9;
   border-radius: 30%;
   font-size: 20px;
   color: #dbd5e9;
   text-decoration: none;
   align-items: center;
   justify-content: center;
   margin: 20px 15px 30px 0;
   transition: .5s ease;
}

.social-media a:hover{
    background:#A084DC ;
    color: #1f242d;
    box-shadow: 0 0 20px #A084DC;
    scale: 1.4;
    transform: rotate(360deg);
}

.link ul li {
    margin-bottom: 15px;
    font-size: 12px;
    list-style: none;
}

.link ul li a {
    display: block;
    color: white;
    list-style: none;
    font-size: 12px;
    max-width: 30px;
    transition: .5s;
    
}

.link ul li a:hover {
    color: white;
    scale: 1.3;
}

.contact ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    list-style: none;
    max-width: 100px;
}

.contact h2 {
    font-size: 15px;
    margin-bottom: 28px;
    margin-top: 20px;

}

.contact ul li p,
.contact ul li a {
    font-size: 12px;

}


.copy-right {
    padding: 15px 0;
    text-align: center;
    background-color: #BFACE2;
    font-size: 18px;
}









/* Estilos medida celular */

@media (max-width:768px) {
    .checkbtn {
        display: flex;
        /* margin-right: 0px; */
        margin-top: 10px;
        
    }

   .superior .logo img{
    margin-left: 0px;
   }

    .checkbtn:hover{
        color: #0ef;
        transition: .5s;   
    }

    .opciones {
        position: fixed;
        width: 100%;
        height: 110vh;
        background: #645CBB;
        top: 100px;
        left: -100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        transition: all .5s;
    }  

    nav ul li:hover>.opciones-desplegable{
        display: flex;
    }
    .opciones-desplegable {
        display: none;
        flex-direction: column;
        position: relative;
        padding: 10px;
        margin-top: 10px;
        background-color:#BFACE2 ;
        transition: all .5s ease-in;
    
    }  
    .opciones-desplegable li{
        display: block;
    }
    .opciones-desplegable li{
        padding: 15px;
    }
      
    .opciones li{
        padding: 15px;
    }
    .opciones li a{
        display: block;
    }


    .abouth h3{
        margin-left: 150px;

    }

    .social-media {
        
        margin-left: 110px;
    }


    #check:checked~ul {
        left: 0;
    }


    .about,
    .contact {
        width: max-content;
    }

    .contact{
        margin-left: 40%;
        margin-top: 10px;   
    }

    .link {
        margin-left: 40%;
    }

    

    .footer_info {
        flex-direction: column;
         
    }

    .footer_info h3 {
        margin-top: 20px;
    }

    .link a {
        margin-bottom: 40px;
    }

    .go-top-button{
        width: 0rem;
        height: 0rem;
        background: #8178e9;
        border-radius: 50%;
        cursor: pointer;
        transition: .2s;
        top: -50%;
        left:-50%;
        transform: translate(-50%,-50%);
        z-index: -1;
        margin-left: 100px;
      }

      .copy-right{
        font-size: 11px;
      }

    }    

    @media (max-width: 480px){
        .superior{
            justify-content: space-evenly;
        }
    }