.container {
    width: 1000px;
    background: #bcbec0;
    margin: 10px auto;
    font-size: 10px;
}

.superior {
    background: #1f242d;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 100px;

}

.checkbtn {
    font-size: 25px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.logo img {
    float: left;
    width: 80px;
    height: 65px;    
    border: 3px solid #0ef;
    border-radius: 30%;
    display: inline-flex;
    margin-left: 100px;
    margin-top: 18px;
    transition: .5s ease;
    
}

.logo img:hover{
    background:#0ef ;
    color: #1f242d;
    box-shadow: 0 0 40px #0ef;
}



/* Estilos para el menu */
.menu {
    float: right;
    padding: 25px;
    margin-right: 50px;

}

.opciones li {
    float: left;
    list-style: none;
    
}

.opciones li a {
    color: white;
    transition: .4s;
    text-decoration: none;
    padding: 12px;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}

.opciones li a:hover,
.opciones li a.active {
    color: #0ef;
    border-radius: 10px;
}

.opciones li ul li{
    position: absolute;
   
   
}

.opciones li ul li:hover{
    display:initial;
   
}


footer {
    background-color: #1f242d;
    color: white;
    
    
   
}

.footer_info {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 50px 0px;
}

.footer_info .footer_width {
    padding: 0 15px;
}

.footer_info h3 {
    margin-bottom: 20px;
    font-size: 14px;
    

}

.contact{
    margin-left: 100px;
}
.about,
.contact {
    width: auto;
    
}

.abouth p {
    font-size: 12px;
    max-width: 350px;
}

.link {
    width: 20%;
    text-align: left;
    margin-left: 190px;
}

.social-media {
    margin-top: 30px;
}


.social-media a{
   display: inline-flex;
   width: 40px;
   height: 40px;
   background: transparent;
   border: 2px solid #0ef;
   border-radius: 30%;
   font-size: 20px;
   color: #0ef;
   text-decoration: none;
   align-items: center;
   justify-content: center;
   margin: 20px 15px 30px 0;
   transition: .5s ease;
}

.social-media a:hover{
    background:#0ef ;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

.link ul li {
    margin-bottom: 15px;
    font-size: 12px;
    list-style: none;
}

.link ul li a {
    display: block;
    color: white;
    list-style: none;
    font-size: 12px;
    max-width: 30px;
    
}

.link ul li a:hover {
    color: #0ef;
}

.contact ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    list-style: none;
    max-width: 100px;
}

.contact h2 {
    font-size: 15px;
    margin-bottom: 28px;

}

.contact ul li p,
.contact ul li a {
    font-size: 12px;

}


.copy-right {
    padding: 15px 0;
    text-align: center;
    background-color: #414142;
    font-size: 12px;
}









/* Estilos medida celular */

@media (max-width:578px) {

    .checkbtn {
        display: block;
        margin-right: -10px;
        margin-top: -10px;
        
    }

    .checkbtn:hover{
        color: #0ef;
        transition: .5s;
        
    }

    .opciones {
        position: fixed;
        width: 100%;
        height: 110vh;
        background: #232832;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        /* height: calc(100% - 120px); */

    }

    #check:checked~ul {
        left: 0;
    }


    .about,
    .contact {
        width: 20%;
    }

    .contact{
        margin-left: 40%;
        margin-top: 40px;
        
    }

    .link {
        margin-left: 40%;
    }

    .link li a{
        margin: 10px;
        }

    .footer_info {
        flex-direction: column;
        
       
    }

    .footer_info h3 {
        margin-top: 20px;
    }

    .link a {
        margin-bottom: 40px;
    }
}