#contacto{
   background-color: rgba(233, 129, 129, 0.2); 
    box-sizing: content-box;
    text-align: center;
    flex-direction: column;
    /* width: 100%; */
    width: min(60rem, 100% );
    margin: 0 auto;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
    display: block; 
}
label{
  display:block;
}
  input,
  textarea {
    width: 75%;
    padding: 0.5rem 1.3rem;
    display: block;
    margin: 20px auto;
    /* margin-bottom: 20px; */
    border: 1px solid #ccc;
    border-radius: 4px;
   /*  box-sizing: border-box; */
    font-size: 16px;
  }

  #botones{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  } 
  #contacto button{
    background: #A084DC;
    padding: 8px 10px;
    width: 50%;
    display: block;
    border: none;
    color: #fff;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-bottom: 2rem;
  }

  /* form{
    width: 100%;
  } */
  .item{
    display: block;
  }

@media (max-width: 768px) {
   /*  #contacto {
        max-width: 800px;
        margin: 0 auto;
    } */
    input,
  textarea {
    width: 45%;
/*     padding: 0.5rem 1.3rem;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px; */
  }
  #botones{
    display:block;
    /* grid-template-columns: 1fr 1fr; */
    /* justify-items: center; */
    margin: 0px auto;
  }
  #botones button{
    margin: 10px auto;
  }
  label{
    font-size: 15px;
  }
  }

  @media screen and (max-width:380px){
    .title-form{
      font-size:30px;
    }
    label{
      margin:0px auto;
    }

    input{
      margin:20px auto;
    }
  }

 .sinCompletar{
    font-size:0.6rem;
    font-weight: lighter;
    color:red;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
} 

