#promociones{
	display: flex;
	/* margin: 0px auto; */
	justify-content: center;
	align-items: center;
	justify-items: center;
}
.slider-frame {
	width: 1080px;
    height: auto;
	/* margin:50px auto 0; */
	/* display: block; */
	/* margin: 0px auto; */
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
    
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

@media (max-width:878px) {
	.slider-frame {
		width: 540px;
		height: auto;
	}

}

@media (max-width: 540px){
	.slider-frame {
		width: 270px;
		height: auto;
	}
}

@media screen and (max-width:410px){
	.slider-frame {
		width: 200px;
		height:auto;
		/* margin:20px auto; */
	}
}

@media screen and (max-width:380px){
	.slider-frame {
/* 		padding: 0px;
		box-sizing: border-box; */
		width: 190px;
		height:auto;
/* 		margin:0px; */
		margin-left: -20px;
	}
}

@media screen and (max-width:320px){
	.slider-frame {
		width: 180px;
		height:auto;
		margin-left: -20px;
	}
}

@media screen and (max-width:290px){
	.slider-frame {
		width: 170px;
		height:auto;
		/* margin:20px auto; */
	}
}


@media screen and (max-width:260px){
	.slider-frame {
		width: 160px;
		height:auto;
		/* margin:20px auto; */
	}
}